.footer-main{
   width: 100%;
   display: flex;
   gap: 16px;
   background-color:  #4A4F55 ;
   
   
}

p{
    color: #CCCCCC;
    font-size: 12px;
    align-items: center;
    padding-left: 155px;
}

