<form [formGroup]="form" >

<div id="pdfContent" class="page">


    <table class="header-table">

        <tr>
            <td class="logo-cell" rowspan="2">
                <img width="50px" height="50px" src="../../assets/img/image.png" alt="">
            </td>

            <td class="doc-number">
                FOR_EMEA_MA_TA_LA_003_03
            </td>

            <td class="small-title">
                Revision
            </td>

            <td class="small-value">
                04
            </td>
        </tr>

        <tr>

            <td class="title">
                Engagement de confidentialité
            </td>

            <td class="small-title">
                Date
            </td>

            <td class="small-value">
                    22/10/2024
                </td>

        </tr>

        <tr>

            <td colspan="4" class="validation">
                The validation of this form is done via system PDM Link
            </td>

        </tr>

    </table>


    <div class="content">

        <p>

            Je, soussigné(e)

            <input required
                type="text"
                formControlName="name"> 
                @if(form.get('name')?.invalid && form.get('name')?.touched){
            <small class="error">*champ obligatoire.</small>}
            en qualité <span> de</span>
            <input required
                type="text"
                formControlName="role">
                 @if(form.get('role')?.invalid && form.get('role')?.touched){
            <small class="error">*champ est obligatoire.</small>}

        </p>
        

        <p>

            chez

            <input required
                type="text"
                formControlName="company">
            @if(form.get('company')?.invalid && form.get('company')?.touched){
            <small class="error">*champ est obligatoire.</small>}    
            
           <span> muni(e) de TE ID  </span>

            <input 
                type="text"
                formControlName="teid">
            
            



        </p>

        <p>

           <span> m'</span>engage à compter de la date de la présente à tenir strictement
            confidentielles et à ne pas divulguer <span> sous </span> aucune circonstance les
            informations ou connaissances techniques, commerciales,
            compilations d'informations, données, plans, notes, designs,
            dessins, spécifications, formules, prototypes ou savoir-faire,
            <span>ainsi que</span> les informations relativement liées à cette intervention
            ou visite obtenues de toute autre personne ou <span>de toute autre manière.</span>

        </p>

        <p>

            Cette obligation de confidentialité lie l'intervenant ou le
            visiteur et son entreprise tant aussi longtemps que TE n'a pas
            relevé de cette obligation.

        </p>

        <p>

            En cas de non-respect de la confidentialité, <span>je m'</span>exposerai à des
            sanctions disciplinaires et/ou pénales par  <span>TE Connectivity,</span>
            conformément aux législations en vigueur.

        </p>

    </div>
    
        <div class="Lu" >
          
            <input type="checkbox" name="check" class="inl" formControlName="check"  (change)="verfiecheck()" >
            <label class="labL" > Lu et approuvé</label>
            
        </div>



    <div class="footer">

        <div class="footer-row">

            Fait à

            
                <input name="city" class="citie" formControlName="city" required>
                @if(form.get('city')?.invalid && form.get('city')?.touched){
            <small class="error">*champ est obligatoire.</small>}

            le

            <input required
            
                type="text"
                formControlName="date"
                
                >

        </div>

        <div class="signature">
  @if(signture){
            <small class="error">*champ est obligatoire.</small>}
         <p>Signature (après avoir coché la case "Lu et approuvé") :</p>
         

       <canvas #signatureCanvas  class="signature-pad"></canvas>

    <br> <button class="no-print" type="button" (click)="clearSignature()">
    Clear
  </button>

        </div>

    </div>

</div>

</form>

    @if(showbtn){
    <div class="buttons">

    <button (click)="generatePdf()">
    Confirmer l envoi
    </button>

    </div>}